{{!-- Contact Us --}}
    <div class="container mt-5" id="Contact">
            <h2 class="text-center mb-4">Contact Us</h2>
            <div class="row">
                <div class="col-md-8">
                    <form action="" method="post">
                        <input type="text" class="form-control" name="name" placeholder="Name"><br>
                        <input type="text" class="form-control" name="subject" placeholder="Subject"><br>
                        <input type="email" class="form-control" name="email" placeholder="Email"><br>
                        <textarea name="message" class="form-control" placeholder="How can we help you?" style="height:150px;"></textarea><br>
                        <input type="submit" class="btn btn-primary btn-lg" value="Send" name="submit"><br> <br>
                    </form>
                </div>
                {{!-- <div class="vl" style="border-left: 6px solid black; height: 3rem"></div> --}}
                <!-- address -->
                <div class="col-md-4 stripe  text-center">
                    <h4>iLearn</h4>
                    <p>iLearn, Near Kashmiri Gate,
                    New Delhi - 100089,<br>
                    Phone: +00000000 <br>
                    www.iLearn.com
                    </p>
                </div> 
                <!-- address -->
            </div>
        </div>
    {{!-- Contact Us --}}